{% extends 'codes/base.html' %}
{% load static %}
{% block header_scripts %}
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">
{% endblock header_scripts %}

{% block content %}
<div class="card my-4">
    <div class="card card-header shared-snippet-title" style="padding-bottom: 0px !important">
        <h4 class="card-title card-link breadcumb"><a href="{% url 'home' %}">Home</a> &raquo; <a
                href="{% url 'language_page' code.language.name %}">{{code.language.name}}</a> &raquo; {{code.snippet_title}} <span
                class="float-right"><i class="fa fa-download" aria-hidden="true"></i></span></h4>
    </div>
    <div class="card card-body">
        <div class="card mb-2">
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <tr>
                        <th>Uploaded By</th>
                        <td>{{code.author|default:"Guest User"}}</td>
                    </tr>
                    <tr>
                        <th>Uploaded at</th>
                        <td>{{code.created_utc|date:"dS F, Y h:i:s A"}}</td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td><a
                            href="{% url 'language_page' code.language.name %}">{{code.language.name}}</a></td>
                    </tr>
                    <tr>
                        <th>Views</th>
                        <td>{{code.total_views}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <pre><code class="language-{{code.language.short_name}}">{{ code.snippet_body }}</code></pre>
        <textarea class="form-control noscroll my-2 mb-4" rows="15">{{ code.snippet_body }}</textarea>

        <div class="card">
            <div class="card card-header shared-snippet-title" style="padding-bottom: 0px !important">
                <h4 class="card-title card-link breadcumb">Discussion
                    <span class="float-right">
                        {% if comments.count > 1 %}
                            {{comments.count}} comments
                        {% elif comments.count == 1 %}
                            {{comments.count}} comment
                        {% else %}
                            No comments yet
                        {% endif %}
                    </span></h4>
            </div>
            <div class="card-body">
                {% if request.user.is_authenticated %}
                <form method="post" class="mb-3">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.body}}
                    </div>
                    <input type="submit" value="Post" class="btn btn-success code-submit">
                </form>
                {% else %}
                    <p>Please login to post a comment!</p>
                {% endif %}

                {% for comment in comments %}
                    {% if forloop.last %}
                        <div class="border rounded p-2">
                    {% else %}
                        <div class="border rounded p-2 mb-2">
                    {% endif %}
                    <b>{{comment.author.username}}</b><span> at {{comment.datetime_utc|date:"dS F, Y h:i:s A"}} says:</span>
                    <hr>
                    <p>{{comment.body}}</p>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block footer_scripts %}
<script src="{% static 'prism/prism.js' %}"></script>
<script src="{% static 'prism/prism-python.min.js' %}"></script>


<script>
const body = $("#id_body")
body.addClass("form-control")
body.attr('placeholder', "Write something...")
body.attr('rows', 5)
</script>

{% endblock footer_scripts %}