{% extends 'codes/base.html' %}
{% block content %}
<div class="card my-4">
    <div class="card card-header shared-snippet-title" style="padding-bottom: 0px !important">
        <h3 class="card-title">{{code.snippet_title}}</h3>
    </div>
    <div class="card card-body">
        {{ code.snippet_body }}
    </div>
</div>
<script>
    console.log("{{code.snippet_body}}");
</script>
{% endblock content %}

<td>{{ code.author.username }}</td>
<td>{{ code.created_utc }}</td>
<td class="text-center">{{ code.total_views }}</td>