{% extends 'codes/base.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_snippet_title">{{ form.snippet_title.label }}</label>
        {{ form.snippet_title }}
    </div>
    <div class="form-group">
        <label for="id_snippet_body">{{ form.snippet_body.label }}</label>
        {{ form.snippet_body }}
    </div>
    <div class="form-group">
        <label for="id_language">{{ form.language.label }}</label>
        {{ form.language }}
    </div>
    <div class="form-group form-check">
        {{ form.is_private }}
        <label class="form-check-label" for="id_is_private">{{ form.is_private.label }}</label>
    </div>
    <div class="form-group" id="password_div">
        <label for="id_password">{{ form.password.label }}</label>
        {{ form.password }}
    </div>
    <input type="submit" value="Save" class="btn btn-success code-submit">
</form>

<div class="card my-4">
    <div class="card card-header shared-snippet-title" style="padding-bottom: 0px !important">
        <h4 class="card-title">Last 10 Publicly Shared Snippets</h4>
    </div>
    <div class="card card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Title/Filename</th>
                    <th>Shared By</th>
                    <th>Uploaded</th>
                    <th class="text-center">Total View</th>
                </tr>
            </thead>
            <tbody>
                {% for code in paginator %}
                    <tr>
                        <td><a href="{% url 'code_view' code.id %}">{{ code.snippet_title }}</a></td>
                        <td>{{ code.author.username }}</td>
                        <td>{{ code.created_utc }}</td>
                        <td class="text-center">{{ code.total_views }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block footer_scripts %}
    <script>
        $("#id_snippet_title").addClass("form-control")
        $("#id_snippet_body").addClass("form-control")
        $("#id_language").addClass("form-control")
        $("#id_password").addClass("form-control")
        $("#password_div").hide()
        $("#id_is_private").addClass("form-check-input")

        $("#id_is_private").on('change', function(event){
            const checked = event.target.checked
            checked ? $("#password_div").show() : $("#password_div").hide()
        })
    </script>
{% endblock footer_scripts %}